pipeline/A5_P4_Ingestion_Product_To_JSON.json
{
	"name": "A5_P4_Ingestion_Product_To_JSON",
	"properties": {
		"description": "This Pipeline is created to copy Product data to ADLS in JSON Format using SQL",
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Copy data1').output.rowsCopied, 10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ProductID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "ProductID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ProductNumber",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "ProductNumber",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Color",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Color",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "StandardCost",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "StandardCost",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ListPrice",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "ListPrice",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Size",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Size",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Weight",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 8
											},
											"sink": {
												"name": "Weight",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ProductCategoryID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "ProductCategoryID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ProductModelID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "ProductModelID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "SellStartDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "SellStartDate",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "SellEndDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "SellEndDate",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "DiscontinuedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "DiscontinuedDate",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ThumbNailPhoto",
												"type": "Byte[]",
												"physicalType": "varbinary"
											},
											"sink": {
												"name": "ThumbNailPhoto",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ThumbnailPhotoFileName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "ThumbnailPhotoFileName",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "rowguid",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_A5_P1_SQL_Pramaterized",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "SALESLT",
										"tableName": "Product"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_A5_P1_OP_Parameterized",
									"type": "DatasetReference",
									"parameters": {
										"Folder": "A5_P4_Product"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as CT from saleslt.product ;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_A5_P1_SQL_Pramaterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "product"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_A5_P1_OP_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"Folder": "DS_A5_Product"
						}
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_A5_P1_SQL_Pramaterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "product"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_A5_P1_OP_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"Folder": "A5_P4_PRODUCT"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-02-02T20:46:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}