pipeline/A6_P3_Foreach_Example_2.json
{
	"name": "A6_P3_Foreach_Example_2",
	"properties": {
		"description": "This pipeline is created as part of Assignment 6, pipeline 3, to copy the customer data to another table customer_copy within the sql db.",
		"activities": [
			{
				"name": "Count_CustomerData",
				"description": "This activity counts Customer Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select count(*) as cnt from salesLT.Customer ;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_A5_P1_SQL_Pramaterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "salesLT",
							"tableName": "Customer"
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Count_CustomerData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Count_CustomerData').output.firstRow.cnt,100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy_Customer_Data",
							"description": "This copy activity is to copy Customer Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE SalesLT.customer_copy ;",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_A5_P1_SQL_Pramaterized",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "salesLT",
										"tableName": "Customer"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_A5_P1_SQL_Pramaterized",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "SalesLT",
										"tableName": "customer_copy"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-02-05T23:16:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}